div{
  font-family: Arial;
  font-size: 14px;
  margin-left: 30px; 	 /* Making some room in between the left margin and my content. */
}


a {
  color:blue; background-color: transparent; text-decoration: none;
}

a:visited{
  color:red; background-color: transparent; text-decoration: none;
}

a:hover{
  color:green; background-color: transparent; text-decoration: none;
}

h1 {
  font-size: 20px;
}

h4 {
  text-decoration: underline;
  margin-bottom: -8px;
}

li {
  width: 85%; /* Content of list items will only take up 85% of the page across */
}


#contactInfo {
  text-align: center;
  /* This makes the element a block box. It won't let anything sit next to it on the page!
    It takes up the full width.*/
  line-height: 15px;
  display: block;
  z-index:1; /* Ensures that the header will sit on top of all other
   elements and won't get stuck behind them. */
}

#free_text_spacing{
  margin-top: 14px;
  margin-left: 25px;
}

.spacing {
  margin-bottom: 40px;
  display: block;
}
