/* Created by Vince Chang */

body {
  font-family: Arial;
}

h1,
h2 {
  font-size: 16px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 30px;
  margin-top: 3%;
}

aside {
  float: right;
  width: 21%;
}

aside h1 {
  text-align: center;
  margin-bottom: 0;
}

section {
  margin-left: 45px;
}

.contact-info {
  border-bottom: 2px solid #a2a8a1;
  margin: 2% 10% 2% 10%;
}

.contact-info span {
  margin-left: 10px;
  margin-right: 10px;
}

.left-wrapper {
  float: left;
  width: 50%;
  margin-left: 250px;
  margin-bottom: 3%;
}

.card {
  border: 1px solid;
  width: 58%;
  margin-bottom: 35%;
}
