/* Created by Vince Chang */

body{
  font-family: Arial;
}

h1, h2{
  font-size: 16px;
}

header{
  text-align: center;
}

header h1{
  font-size: 30px;
}

aside {
  /* display: inline; */
  float: right;
  width: 40%;
}

aside h1{
  text-align: center;
  margin-bottom: 0;
}

.contact-info{
  border-bottom: 2px solid #a2a8a1;
  margin: 2% 10% 2% 10%;
}

.contact-info span{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
/*
.wrapper{
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
} */

.left-wrapper{
  display: inline;
  float: left;
  width: 60%;
  margin: 0px 25px 0px 250px;
  padding-right: 200px;
}

.section-content{
  margin-left: 45px;
}

.card{
  border: 1px solid;
  width: 35%;
}
