/* Created by Vince Chang */

body{
  font-family: Arial;
}

hr{
  margin-left: 10%;
  margin-right: 10%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

aside h1{
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
}

header{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info p{
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.wrapper h1{
  font-size: 16px;
}

.wrapper h2{
  font-size: 16px;
}

.main-content-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 0px 25px 0px 250px;
  padding-right: 200px;
}

.section-content{
  margin-left: 45px;
}

.card{
  border: 1px solid;
  width: 35%;
}
